/* Default box-sizing to handle padding/margin calculations */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.expense-form {
    width: 90%; /* Adjusted to 90% for better mobile view */
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.expense-form h1 {
    margin-top: 0;
}

.expense-form label,
.expense-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px; /* Added padding for better touch interaction */
}

.expense-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.expense-form button:hover {
    background-color: #0056b3;
}

table {
    width: 90%; /* Adjusted for better mobile view */
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

tbody tr:hover {
    background-color: #f6f6f6;
}

.name-cell {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    border-bottom: 2px solid #000;
}

.total-cell,
.bold-separator {
    border-bottom: 2px solid #000;
}

/* Responsive design adjustments */
@media (max-width: 400px) {
    body {
        font-size: 0.9em;
    }
}

/* Clear Expenses Button Styles */
#clear-expenses {
    background-color: #d9534f; /* Bootstrap 'btn-danger' color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px; /* Space from other elements */
}

#clear-expenses:hover {
    background-color: #c9302c; /* Darker shade on hover */
}

#clear-expenses:focus {
    outline: none; /* Removes outline on focus for cleaner look */
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
}
